BSC-AdvancedProgramming-BSCSD-21-14/JKCompany-WebClient/src/wsdl/localhost_8080/JkCompany-WebService/myWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.chamal/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.chamal/" name="myWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.chamal/" schemaLocation="http://localhost:8080/JkCompany-WebService/myWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="makeStockRequest">
<part name="parameters" element="tns:makeStockRequest"/>
</message>
<message name="makeStockRequestResponse">
<part name="parameters" element="tns:makeStockRequestResponse"/>
</message>
<message name="addUser">
<part name="parameters" element="tns:addUser"/>
</message>
<message name="addUserResponse">
<part name="parameters" element="tns:addUserResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="checkuser">
<part name="parameters" element="tns:checkuser"/>
</message>
<message name="checkuserResponse">
<part name="parameters" element="tns:checkuserResponse"/>
</message>
<message name="addCustomer">
<part name="parameters" element="tns:addCustomer"/>
</message>
<message name="addCustomerResponse">
<part name="parameters" element="tns:addCustomerResponse"/>
</message>
<message name="updateUser">
<part name="parameters" element="tns:updateUser"/>
</message>
<message name="updateUserResponse">
<part name="parameters" element="tns:updateUserResponse"/>
</message>
<message name="deleteUser">
<part name="parameters" element="tns:deleteUser"/>
</message>
<message name="deleteUserResponse">
<part name="parameters" element="tns:deleteUserResponse"/>
</message>
<message name="addtoCart">
<part name="parameters" element="tns:addtoCart"/>
</message>
<message name="addtoCartResponse">
<part name="parameters" element="tns:addtoCartResponse"/>
</message>
<message name="getCart">
<part name="parameters" element="tns:getCart"/>
</message>
<message name="getCartResponse">
<part name="parameters" element="tns:getCartResponse"/>
</message>
<message name="addbranch">
<part name="parameters" element="tns:addbranch"/>
</message>
<message name="addbranchResponse">
<part name="parameters" element="tns:addbranchResponse"/>
</message>
<message name="getbranchRequest">
<part name="parameters" element="tns:getbranchRequest"/>
</message>
<message name="getbranchRequestResponse">
<part name="parameters" element="tns:getbranchRequestResponse"/>
</message>
<message name="getCustomerCart">
<part name="parameters" element="tns:getCustomerCart"/>
</message>
<message name="getCustomerCartResponse">
<part name="parameters" element="tns:getCustomerCartResponse"/>
</message>
<message name="updatecart">
<part name="parameters" element="tns:updatecart"/>
</message>
<message name="updatecartResponse">
<part name="parameters" element="tns:updatecartResponse"/>
</message>
<message name="getCustomer">
<part name="parameters" element="tns:getCustomer"/>
</message>
<message name="getCustomerResponse">
<part name="parameters" element="tns:getCustomerResponse"/>
</message>
<message name="getBranches">
<part name="parameters" element="tns:getBranches"/>
</message>
<message name="getBranchesResponse">
<part name="parameters" element="tns:getBranchesResponse"/>
</message>
<message name="addbranchProduct">
<part name="parameters" element="tns:addbranchProduct"/>
</message>
<message name="addbranchProductResponse">
<part name="parameters" element="tns:addbranchProductResponse"/>
</message>
<message name="getStockRequest">
<part name="parameters" element="tns:getStockRequest"/>
</message>
<message name="getStockRequestResponse">
<part name="parameters" element="tns:getStockRequestResponse"/>
</message>
<message name="getbranch">
<part name="parameters" element="tns:getbranch"/>
</message>
<message name="getbranchResponse">
<part name="parameters" element="tns:getbranchResponse"/>
</message>
<message name="getallUsers">
<part name="parameters" element="tns:getallUsers"/>
</message>
<message name="getallUsersResponse">
<part name="parameters" element="tns:getallUsersResponse"/>
</message>
<message name="getBranchSales">
<part name="parameters" element="tns:getBranchSales"/>
</message>
<message name="getBranchSalesResponse">
<part name="parameters" element="tns:getBranchSalesResponse"/>
</message>
<message name="deletebranch">
<part name="parameters" element="tns:deletebranch"/>
</message>
<message name="deletebranchResponse">
<part name="parameters" element="tns:deletebranchResponse"/>
</message>
<message name="addproduct">
<part name="parameters" element="tns:addproduct"/>
</message>
<message name="addproductResponse">
<part name="parameters" element="tns:addproductResponse"/>
</message>
<message name="getusers">
<part name="parameters" element="tns:getusers"/>
</message>
<message name="getusersResponse">
<part name="parameters" element="tns:getusersResponse"/>
</message>
<message name="updateHeadofficeStock">
<part name="parameters" element="tns:updateHeadofficeStock"/>
</message>
<message name="updateHeadofficeStockResponse">
<part name="parameters" element="tns:updateHeadofficeStockResponse"/>
</message>
<message name="getpendingRequests">
<part name="parameters" element="tns:getpendingRequests"/>
</message>
<message name="getpendingRequestsResponse">
<part name="parameters" element="tns:getpendingRequestsResponse"/>
</message>
<message name="getbranchProducts">
<part name="parameters" element="tns:getbranchProducts"/>
</message>
<message name="getbranchProductsResponse">
<part name="parameters" element="tns:getbranchProductsResponse"/>
</message>
<message name="deleteheadofficeproductsproduct">
<part name="parameters" element="tns:deleteheadofficeproductsproduct"/>
</message>
<message name="deleteheadofficeproductsproductResponse">
<part name="parameters" element="tns:deleteheadofficeproductsproductResponse"/>
</message>
<message name="getheadofficeproducts">
<part name="parameters" element="tns:getheadofficeproducts"/>
</message>
<message name="getheadofficeproductsResponse">
<part name="parameters" element="tns:getheadofficeproductsResponse"/>
</message>
<message name="getStockSendingBranchID">
<part name="parameters" element="tns:getStockSendingBranchID"/>
</message>
<message name="getStockSendingBranchIDResponse">
<part name="parameters" element="tns:getStockSendingBranchIDResponse"/>
</message>
<message name="validateBranchProducts">
<part name="parameters" element="tns:validateBranchProducts"/>
</message>
<message name="validateBranchProductsResponse">
<part name="parameters" element="tns:validateBranchProductsResponse"/>
</message>
<message name="updateStockSendingStockAmount">
<part name="parameters" element="tns:updateStockSendingStockAmount"/>
</message>
<message name="updateStockSendingStockAmountResponse">
<part name="parameters" element="tns:updateStockSendingStockAmountResponse"/>
</message>
<message name="getsingleHeadOfficeProduct">
<part name="parameters" element="tns:getsingleHeadOfficeProduct"/>
</message>
<message name="getsingleHeadOfficeProductResponse">
<part name="parameters" element="tns:getsingleHeadOfficeProductResponse"/>
</message>
<message name="updateStockRequest">
<part name="parameters" element="tns:updateStockRequest"/>
</message>
<message name="updateStockRequestResponse">
<part name="parameters" element="tns:updateStockRequestResponse"/>
</message>
<message name="getStockSendingStockAmount">
<part name="parameters" element="tns:getStockSendingStockAmount"/>
</message>
<message name="getStockSendingStockAmountResponse">
<part name="parameters" element="tns:getStockSendingStockAmountResponse"/>
</message>
<message name="updatebranchNewstock">
<part name="parameters" element="tns:updatebranchNewstock"/>
</message>
<message name="updatebranchNewstockResponse">
<part name="parameters" element="tns:updatebranchNewstockResponse"/>
</message>
<message name="deleteDriver">
<part name="parameters" element="tns:deleteDriver"/>
</message>
<message name="deleteDriverResponse">
<part name="parameters" element="tns:deleteDriverResponse"/>
</message>
<message name="addDriver">
<part name="parameters" element="tns:addDriver"/>
</message>
<message name="addDriverResponse">
<part name="parameters" element="tns:addDriverResponse"/>
</message>
<message name="getallDrivers">
<part name="parameters" element="tns:getallDrivers"/>
</message>
<message name="getallDriversResponse">
<part name="parameters" element="tns:getallDriversResponse"/>
</message>
<message name="getallvehicles">
<part name="parameters" element="tns:getallvehicles"/>
</message>
<message name="getallvehiclesResponse">
<part name="parameters" element="tns:getallvehiclesResponse"/>
</message>
<message name="deleteVehicle">
<part name="parameters" element="tns:deleteVehicle"/>
</message>
<message name="deleteVehicleResponse">
<part name="parameters" element="tns:deleteVehicleResponse"/>
</message>
<message name="addVehicle">
<part name="parameters" element="tns:addVehicle"/>
</message>
<message name="addVehicleResponse">
<part name="parameters" element="tns:addVehicleResponse"/>
</message>
<portType name="myWebService">
<operation name="makeStockRequest">
<input wsam:Action="http://service.chamal/myWebService/makeStockRequestRequest" message="tns:makeStockRequest"/>
<output wsam:Action="http://service.chamal/myWebService/makeStockRequestResponse" message="tns:makeStockRequestResponse"/>
</operation>
<operation name="addUser">
<input wsam:Action="http://service.chamal/myWebService/addUserRequest" message="tns:addUser"/>
<output wsam:Action="http://service.chamal/myWebService/addUserResponse" message="tns:addUserResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://service.chamal/myWebService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://service.chamal/myWebService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="checkuser">
<input wsam:Action="http://service.chamal/myWebService/checkuserRequest" message="tns:checkuser"/>
<output wsam:Action="http://service.chamal/myWebService/checkuserResponse" message="tns:checkuserResponse"/>
</operation>
<operation name="addCustomer">
<input wsam:Action="http://service.chamal/myWebService/addCustomerRequest" message="tns:addCustomer"/>
<output wsam:Action="http://service.chamal/myWebService/addCustomerResponse" message="tns:addCustomerResponse"/>
</operation>
<operation name="updateUser">
<input wsam:Action="http://service.chamal/myWebService/updateUserRequest" message="tns:updateUser"/>
<output wsam:Action="http://service.chamal/myWebService/updateUserResponse" message="tns:updateUserResponse"/>
</operation>
<operation name="deleteUser">
<input wsam:Action="http://service.chamal/myWebService/deleteUserRequest" message="tns:deleteUser"/>
<output wsam:Action="http://service.chamal/myWebService/deleteUserResponse" message="tns:deleteUserResponse"/>
</operation>
<operation name="addtoCart">
<input wsam:Action="http://service.chamal/myWebService/addtoCartRequest" message="tns:addtoCart"/>
<output wsam:Action="http://service.chamal/myWebService/addtoCartResponse" message="tns:addtoCartResponse"/>
</operation>
<operation name="getCart">
<input wsam:Action="http://service.chamal/myWebService/getCartRequest" message="tns:getCart"/>
<output wsam:Action="http://service.chamal/myWebService/getCartResponse" message="tns:getCartResponse"/>
</operation>
<operation name="addbranch">
<input wsam:Action="http://service.chamal/myWebService/addbranchRequest" message="tns:addbranch"/>
<output wsam:Action="http://service.chamal/myWebService/addbranchResponse" message="tns:addbranchResponse"/>
</operation>
<operation name="getbranchRequest">
<input wsam:Action="http://service.chamal/myWebService/getbranchRequestRequest" message="tns:getbranchRequest"/>
<output wsam:Action="http://service.chamal/myWebService/getbranchRequestResponse" message="tns:getbranchRequestResponse"/>
</operation>
<operation name="getCustomerCart">
<input wsam:Action="http://service.chamal/myWebService/getCustomerCartRequest" message="tns:getCustomerCart"/>
<output wsam:Action="http://service.chamal/myWebService/getCustomerCartResponse" message="tns:getCustomerCartResponse"/>
</operation>
<operation name="updatecart">
<input wsam:Action="http://service.chamal/myWebService/updatecartRequest" message="tns:updatecart"/>
<output wsam:Action="http://service.chamal/myWebService/updatecartResponse" message="tns:updatecartResponse"/>
</operation>
<operation name="getCustomer">
<input wsam:Action="http://service.chamal/myWebService/getCustomerRequest" message="tns:getCustomer"/>
<output wsam:Action="http://service.chamal/myWebService/getCustomerResponse" message="tns:getCustomerResponse"/>
</operation>
<operation name="getBranches">
<input wsam:Action="http://service.chamal/myWebService/getBranchesRequest" message="tns:getBranches"/>
<output wsam:Action="http://service.chamal/myWebService/getBranchesResponse" message="tns:getBranchesResponse"/>
</operation>
<operation name="addbranchProduct">
<input wsam:Action="http://service.chamal/myWebService/addbranchProductRequest" message="tns:addbranchProduct"/>
<output wsam:Action="http://service.chamal/myWebService/addbranchProductResponse" message="tns:addbranchProductResponse"/>
</operation>
<operation name="getStockRequest">
<input wsam:Action="http://service.chamal/myWebService/getStockRequestRequest" message="tns:getStockRequest"/>
<output wsam:Action="http://service.chamal/myWebService/getStockRequestResponse" message="tns:getStockRequestResponse"/>
</operation>
<operation name="getbranch">
<input wsam:Action="http://service.chamal/myWebService/getbranchRequest" message="tns:getbranch"/>
<output wsam:Action="http://service.chamal/myWebService/getbranchResponse" message="tns:getbranchResponse"/>
</operation>
<operation name="getallUsers">
<input wsam:Action="http://service.chamal/myWebService/getallUsersRequest" message="tns:getallUsers"/>
<output wsam:Action="http://service.chamal/myWebService/getallUsersResponse" message="tns:getallUsersResponse"/>
</operation>
<operation name="getBranchSales">
<input wsam:Action="http://service.chamal/myWebService/getBranchSalesRequest" message="tns:getBranchSales"/>
<output wsam:Action="http://service.chamal/myWebService/getBranchSalesResponse" message="tns:getBranchSalesResponse"/>
</operation>
<operation name="deletebranch">
<input wsam:Action="http://service.chamal/myWebService/deletebranchRequest" message="tns:deletebranch"/>
<output wsam:Action="http://service.chamal/myWebService/deletebranchResponse" message="tns:deletebranchResponse"/>
</operation>
<operation name="addproduct">
<input wsam:Action="http://service.chamal/myWebService/addproductRequest" message="tns:addproduct"/>
<output wsam:Action="http://service.chamal/myWebService/addproductResponse" message="tns:addproductResponse"/>
</operation>
<operation name="getusers">
<input wsam:Action="http://service.chamal/myWebService/getusersRequest" message="tns:getusers"/>
<output wsam:Action="http://service.chamal/myWebService/getusersResponse" message="tns:getusersResponse"/>
</operation>
<operation name="updateHeadofficeStock">
<input wsam:Action="http://service.chamal/myWebService/updateHeadofficeStockRequest" message="tns:updateHeadofficeStock"/>
<output wsam:Action="http://service.chamal/myWebService/updateHeadofficeStockResponse" message="tns:updateHeadofficeStockResponse"/>
</operation>
<operation name="getpendingRequests">
<input wsam:Action="http://service.chamal/myWebService/getpendingRequestsRequest" message="tns:getpendingRequests"/>
<output wsam:Action="http://service.chamal/myWebService/getpendingRequestsResponse" message="tns:getpendingRequestsResponse"/>
</operation>
<operation name="getbranchProducts">
<input wsam:Action="http://service.chamal/myWebService/getbranchProductsRequest" message="tns:getbranchProducts"/>
<output wsam:Action="http://service.chamal/myWebService/getbranchProductsResponse" message="tns:getbranchProductsResponse"/>
</operation>
<operation name="deleteheadofficeproductsproduct">
<input wsam:Action="http://service.chamal/myWebService/deleteheadofficeproductsproductRequest" message="tns:deleteheadofficeproductsproduct"/>
<output wsam:Action="http://service.chamal/myWebService/deleteheadofficeproductsproductResponse" message="tns:deleteheadofficeproductsproductResponse"/>
</operation>
<operation name="getheadofficeproducts">
<input wsam:Action="http://service.chamal/myWebService/getheadofficeproductsRequest" message="tns:getheadofficeproducts"/>
<output wsam:Action="http://service.chamal/myWebService/getheadofficeproductsResponse" message="tns:getheadofficeproductsResponse"/>
</operation>
<operation name="getStockSendingBranchID">
<input wsam:Action="http://service.chamal/myWebService/getStockSendingBranchIDRequest" message="tns:getStockSendingBranchID"/>
<output wsam:Action="http://service.chamal/myWebService/getStockSendingBranchIDResponse" message="tns:getStockSendingBranchIDResponse"/>
</operation>
<operation name="validateBranchProducts">
<input wsam:Action="http://service.chamal/myWebService/validateBranchProductsRequest" message="tns:validateBranchProducts"/>
<output wsam:Action="http://service.chamal/myWebService/validateBranchProductsResponse" message="tns:validateBranchProductsResponse"/>
</operation>
<operation name="updateStockSendingStockAmount">
<input wsam:Action="http://service.chamal/myWebService/updateStockSendingStockAmountRequest" message="tns:updateStockSendingStockAmount"/>
<output wsam:Action="http://service.chamal/myWebService/updateStockSendingStockAmountResponse" message="tns:updateStockSendingStockAmountResponse"/>
</operation>
<operation name="getsingleHeadOfficeProduct">
<input wsam:Action="http://service.chamal/myWebService/getsingleHeadOfficeProductRequest" message="tns:getsingleHeadOfficeProduct"/>
<output wsam:Action="http://service.chamal/myWebService/getsingleHeadOfficeProductResponse" message="tns:getsingleHeadOfficeProductResponse"/>
</operation>
<operation name="updateStockRequest">
<input wsam:Action="http://service.chamal/myWebService/updateStockRequestRequest" message="tns:updateStockRequest"/>
<output wsam:Action="http://service.chamal/myWebService/updateStockRequestResponse" message="tns:updateStockRequestResponse"/>
</operation>
<operation name="getStockSendingStockAmount">
<input wsam:Action="http://service.chamal/myWebService/getStockSendingStockAmountRequest" message="tns:getStockSendingStockAmount"/>
<output wsam:Action="http://service.chamal/myWebService/getStockSendingStockAmountResponse" message="tns:getStockSendingStockAmountResponse"/>
</operation>
<operation name="updatebranchNewstock">
<input wsam:Action="http://service.chamal/myWebService/updatebranchNewstockRequest" message="tns:updatebranchNewstock"/>
<output wsam:Action="http://service.chamal/myWebService/updatebranchNewstockResponse" message="tns:updatebranchNewstockResponse"/>
</operation>
<operation name="deleteDriver">
<input wsam:Action="http://service.chamal/myWebService/deleteDriverRequest" message="tns:deleteDriver"/>
<output wsam:Action="http://service.chamal/myWebService/deleteDriverResponse" message="tns:deleteDriverResponse"/>
</operation>
<operation name="addDriver">
<input wsam:Action="http://service.chamal/myWebService/addDriverRequest" message="tns:addDriver"/>
<output wsam:Action="http://service.chamal/myWebService/addDriverResponse" message="tns:addDriverResponse"/>
</operation>
<operation name="getallDrivers">
<input wsam:Action="http://service.chamal/myWebService/getallDriversRequest" message="tns:getallDrivers"/>
<output wsam:Action="http://service.chamal/myWebService/getallDriversResponse" message="tns:getallDriversResponse"/>
</operation>
<operation name="getallvehicles">
<input wsam:Action="http://service.chamal/myWebService/getallvehiclesRequest" message="tns:getallvehicles"/>
<output wsam:Action="http://service.chamal/myWebService/getallvehiclesResponse" message="tns:getallvehiclesResponse"/>
</operation>
<operation name="deleteVehicle">
<input wsam:Action="http://service.chamal/myWebService/deleteVehicleRequest" message="tns:deleteVehicle"/>
<output wsam:Action="http://service.chamal/myWebService/deleteVehicleResponse" message="tns:deleteVehicleResponse"/>
</operation>
<operation name="addVehicle">
<input wsam:Action="http://service.chamal/myWebService/addVehicleRequest" message="tns:addVehicle"/>
<output wsam:Action="http://service.chamal/myWebService/addVehicleResponse" message="tns:addVehicleResponse"/>
</operation>
</portType>
<binding name="myWebServicePortBinding" type="tns:myWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="makeStockRequest">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkuser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addtoCart">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCart">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addbranch">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getbranchRequest">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCustomerCart">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updatecart">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getCustomer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getBranches">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addbranchProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getStockRequest">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getbranch">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getallUsers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getBranchSales">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deletebranch">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addproduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getusers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateHeadofficeStock">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getpendingRequests">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getbranchProducts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteheadofficeproductsproduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getheadofficeproducts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getStockSendingBranchID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="validateBranchProducts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateStockSendingStockAmount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getsingleHeadOfficeProduct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateStockRequest">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getStockSendingStockAmount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updatebranchNewstock">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteDriver">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addDriver">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getallDrivers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getallvehicles">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteVehicle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addVehicle">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="myWebService">
<port name="myWebServicePort" binding="tns:myWebServicePortBinding">
<soap:address location="http://localhost:8080/JkCompany-WebService/myWebService"/>
</port>
</service>
</definitions>